The_Battle_of_Neighborhoods_CapstoneProject(week_1).ipynb
The_Battle_of_Neighborhoods_CapstoneProject(week_2).ipynb
Which_neighbourhood_is_safer2.ipynb
/references
LA_population_density.JPG
Capstone_The-Battle-of-the-Neighborhoods.ipynb
LA_venues_from_Foursquare.csv
Untitled.ipynb
us_accidents_description.png
Explore_Cluster_Toronto_Neighbourhoods.ipynb
US_accidents_data_analysis_visualization.pdf
US_accidents_data_analysis_visualization_copy.ipynb
admission_prediction.ipynb
README.html
